<template>
  <div class="container">
    <div v-show="errorsCount" id="errors" class="alert alert-danger mt-5 ml-0" role="alert">
      <ul>
        <li v-for="error in checkErrors" :key="error">
          {{ error }}
        </li>
      </ul>
    </div>
    <div v-if="displayInvalidPerson" class="alert alert-danger mt-5 ml-0" role="alert" id="abort">
      Invalid email or password!
    </div>
    <h1>Login</h1>
    <div class="row text-center">
      <div class="col12">
        <form>
          <div class="form-group">
            <input v-model="email" type="email" class="form-control" id="email" placeholder="Email">
          </div>
          <div class="form-group">
            <input v-model="password" type="password" id="password"
                   class="form-control" placeholder="Password">
          </div>
          <button type="button" @click="doLogin()" class="btn btn-primary">Login</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    email: '',
    password: '',
    submitted: false,
    valid: false,
  }),
  methods: {
    doLogin() {
      const validData = [
        { email: 'email_1@gmail.com', password: 'password1' },
        { email: 'email_2@gmail.com', password: 'password2' },
        { email: 'email_100@gmail.com', password: 'password100' },
      ];

      let valid = false;
      for (let i = 0; i < validData.length; i += 1) {
        const it = validData[i];
        if (it.email === this.email && it.password === this.password) {
          valid = true;
        }
      }
      this.valid = valid;
      this.submitted = true;

      if (valid) this.$router.push({ name: 'UserForm', params: { email: this.email } });
      return false;
    },
  },
  computed: {
    checkErrors() {
      const errors = [];
      const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      const validEmail = re.test(String(this.email).toLowerCase());
      if (!validEmail) errors.push('Bad email format!');
      if (this.password.length < 6) errors.push('The password must have 6 characters os higher!');
      return errors;
    },
    errorsCount() {
      const errors = this.checkErrors;
      return errors.length > 0;
    },
    displayInvalidPerson() {
      if (this.submitted === false) return false;
      return !this.valid;
    },
  },
};
</script>
