<template>
  <!-- eslint-disable -->

  <div class="container">
    <div v-show="errorsCount" id="errors" class="alert alert-danger mt-5 ml-0" role="alert">
      <ul>
        <li v-for="error in checkErrors" :key="error">
          {{ error }}
        </li>
      </ul>
    </div>
    <div v-show="fullValid" id="success" class="alert alert-success mt-5 ml-0" role="alert">
      Congratulations! You have valid data!
    </div>
    <div v-show="displayInvalidPerson" class="alert alert-danger mt-5 ml-0" role="alert">
      Invalid email or password!
    </div>
    <h1>UserForm</h1>
    <div class="row text-center">
      <div class="col12">
        <form>
          <div class="form-group">
            <input v-model="$attrs.email" type="email" class="form-control" id="email" placeholder="Email" disabled>
          </div>
          <div class="form-group">
            <input v-model="age" type="text" class="form-control" id="age" placeholder="Age">
          </div>
          <div class="form-group">
            <label for="osinput">OS</label>
            <select class="form-control" v-model="os" id="osinput">
              <option></option>
              <option>Windows</option>
              <option>Linux</option>
            </select>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    age: '18',
    os: '',
    submitted: false,
    valid: false,
  }),
  methods: {
    submit() {
      return false;
    },
  },
  computed: {
    checkErrors() {
      const errors = [];
      if (this.os === '') errors.push('Select a valid OS!');
      const iage = parseInt(this.age, 10);
      if (Number.isNaN(iage)) {
        errors.push('Bad age format!');
      } else if (iage < 18 || iage > 99) {
        errors.push('Age must be between 18 and 99!');
      }

      return errors;
    },
    errorsCount() {
      const errors = this.checkErrors;
      return errors.length > 0;
    },
    displayInvalidPerson() {
      if (this.submitted === false) return false;
      return !this.valid;
    },
    fullValid() {
      return this.checkErrors.length === 0;
    },
  },
};
</script>
